<div class="container"
  fxLayout="row wrap"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" 
  fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish || errMess">
      <mat-grid-list [cols]="2" >
          <mat-card>
              <mat-card-header>
                  <mat-card-title>
                  <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
                  </mat-card-title>
              </mat-card-header>
              <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}} >
              <mat-card-content>
                  <p>{{dish.description}}
                  </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <button mat-button (click)="goBack()">BACK</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
              </mat-card-actions>
          </mat-card>
      </mat-grid-list>
  </div>

  <div fxFlex="40" style="padding-bottom: 200px;" *ngIf="dish || errMess">
    <h3>Comments</h3>
    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments" style="padding-bottom: 20px;">
        {{comment.comment}}<br>
        {{comment.rating}} Stars<br>
        - {{comment.author}} {{ comment.date | date }}<br>
      </mat-list-item>

      <mat-list-item *ngIf="commentForm.valid">
        {{commentForm.value.comment}}<br>
        {{commentForm.value.rating}} Stars<br>
        - {{commentForm.value.author}}<br>
      </mat-list-item>
    </mat-list>

    <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="author" placeholder="author" type="text" [required]="true">
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your comment" rows=5></textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider formControlName='rating' [thumbLabel]="true" [min]="0" [max]="5" [step]="1" [tickInterval]="1"></mat-slider>
      </p>
      <button type="submit" [disabled]="!commentForm.valid" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
  </div>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>